<div class="modal-header">
  <h4 class="modal-title">{{serviciopersona ? 'Editar' : 'Crear'}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
<div class="row">
  <div class="col">
    <form class="row g-3" id="servicioform" [formGroup] = "servicioform" (ngSubmit)="guardarserviciopers()">
    <div class="col-md-6">
      <label for="nombre" class="form-label">Nombres</label>
      <input type="text" class="form-control" id="nombre" formControlName= "nombre" placeholder="Ingrese su Nombre">
    </div>
    <div class="col-md-6">
      <label for="apellido" class="form-label">Apellidos</label>
      <input type="text" class="form-control" id="apellido" formControlName= "apellido"  placeholder="Ingrese su apellido">
    </div>
    <div class="col-12">
      <label for="direccion" class="form-label">Direccion</label>
      <input type="text" class="form-control" id="direccion"  formControlName= "direccion"  placeholder="Bello Horizonte">
    </div>
    <div class="col-md-6">
      <label for="ciudad" class="form-label">Ciudad</label>
      <input type="text" class="form-control" id="ciudad" formControlName= "ciudad" placeholder="Managua">
    </div>
    <div class="col-md-6">
      <label for="departamento" class="form-label">Departamento</label>
      <input type="text" class="form-control" id="departamento" formControlName= "departamento" placeholder="Managua">
    </div>
    <div class="col-md-3">
      <label for="telefono" class="form-label">Telefono</label>
      <input type="text" class="form-control" id="telefono" formControlName= "telefono">
    </div>
    <div class="col-12">
      <button type="submit" form="servicioform" class="btn btn-primary">Guardar</button>
    </div>
  </form>
  </div>
</div>
</div>
<div class="modal-footer">
  <!-- <button type="submit" form="registerForm" class="btn btn-info">Guardar</button> -->
</div>